 <div class="question-item shadow mt-4 mb-1" >
          <div class="question-content">
            <p class="question">
              How to insert data in table using MySQL?
            </p>
            <button class="btn like-btn ml-2 mb-2" style="background-color: white; color:blue">
              <i class="fa fa-thumbs-up"></i>
            </button>
            <button class="btn dislike-btn ml-2 mb-2" style="background-color: white; color:darkred">
              <i class="fa fa-thumbs-down"></i>
            </button>
            <button class="btn btn-success answer-btn ml-2 mb-2">Answer</button>
            <p class="answers">3 <i class="fa fa-comments"></i></p>
            <p class="votes">4 <i class="fa fa-sort"></i></p>
          </div>
          <div class="question-info">
            <p>asked 1h ago</p>
            <div class="qs-publisher">
              <img src="~/images/login.png" alt="user profile pic">
              <p>Usman Arshad</p>
            </div>
          </div>
      </div>
