@section links{
    <link rel="stylesheet" href="@Url.Content("~/css/profile.css")">
}
@{
    ViewData["Title"] = "Profile";
}
    <div class="container">
        <div class="profile-header">
            <div class="profile-background">
                <button><a  asp-route="editprofile" style="text-decoration:none;color:white">Edit Profile</a></button>
            </div>
            <div class="profile-info">
                <div class="profile-cover__img">
                    <img src="https://bootdey.com/img/Content/avatar/avatar6.png"
                     alt="" />
                    <h3>Henry Foster</h3>
                </div>
                <div class="profile-cover__info">
                    <ul class="nav">
                        <li><strong>33</strong>Followers</li>
                        <li><strong>136</strong>Following</li>
                        <li><strong>10</strong>Questions</li>
                        <li><strong>42</strong>Answers</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="about">
            <div class="about-header">
                <h1>About me</h1>
            </div>
            <div class="about-content">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab,
                    possimus. Assumenda voluptates quasi temporibus dignissimos amet nam
                    molestias sit ipsa aliquid vero, dolores ipsam necessitatibus hic
                    harum quos. Quaerat placeat, consequatur ipsa amet optio accusamus.
                    Voluptas et sint quasi corrupti!
                </p>
            </div>
        </div>
        <div class="panel">
            <div class="panel-heading">
                <h1>Activity feed</h1>
            </div>
            <div class="panel-content">
                <ul class="panel-content-list">
                    <li>
                        <div class="activity__list__header">
                            <img src="https://bootdey.com/img/Content/avatar/avatar2.png"
                             alt="" />
                            <a href="#">John Doe</a> Posted the question:
                            <a href="#">How can I change my annual reports for the better effect?</a>
                        </div>
                        <div class="activity__list__body entry-content">
                            <p>
                                <strong>Lorem ipsum dolor sit amet</strong>, consectetur
                                adipisicing elit. Voluptatibus ab a nostrum repudiandae
                                dolorem ut quaerat veniam asperiores, rerum voluptatem magni
                                dolores corporis!
                                <em>
                                    Molestiae commodi nesciunt a, repudiandae repellendus
                                    ea.
                                </em>
                            </p>
                        </div>
                        <div class="activity__list__footer">
                            <a href="#"> <i class="fa fa-thumbs-up"></i> 123</a>
                            <a href="#"> <i class="fa fa-comments"></i> 23</a>
                            <span> <i class="fa fa-clock"></i> 2h ago</span>
                        </div>
                        <hr />
                    </li>
                    <li>
                        <div class="activity__list__header">
                            <img src="https://bootdey.com/img/Content/avatar/avatar1.png"
                             alt="" />
                            <a href="#">John Doe</a> Posted the question:
                            <a href="#">How can I change my annual reports for the better effect?</a>
                        </div>
                        <div class="activity__list__body entry-content">
                            <blockquote>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Voluptatibus ab a nostrum repudiandae dolorem ut quaerat
                                    veniam asperiores, rerum voluptatem magni dolores corporis!
                                    Molestiae commodi nesciunt a, repudiandae repellendus ea.
                                </p>
                            </blockquote>
                        </div>
                        <div class="activity__list__footer">
                            <a href="#"> <i class="fa fa-thumbs-up"></i> 123</a>
                            <a href="#"> <i class="fa fa-comments"></i> 23</a>
                            <span> <i class="fa fa-clock"></i> 2h ago</span>
                        </div>
                        <hr />
                    </li>
                </ul>
            </div>
        </div>
    </div>